body {
    background-image: url('https://w0.peakpx.com/wallpaper/70/538/HD-wallpaper-razer-snakes-slime-background-ultra-computers-others-green-tech-background-melting-technology-logo-hardware-halloween-paint-razer-gaming-slime-snakes.jpg');
    background-repeat: no-repeat;
    background-size: cover; 


}
.box{
    
    background-color: rgb(21, 43, 25);
    width: 750px;
    height: 500px;
    margin-top: 40px;
    margin-left: 290px;
    border: 3px;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
    box-shadow: 2px 4px 11px 11px rgb(3, 248, 77);
}
p {
    background-color: rgb(218, 0, 0);
    box-shadow: rgb(247, 3, 3) -5px 5px, rgb(243, 10, 2) -10px 10px,  -15px 15px, rgb(219, 76, 10) -20px 20px;
    border-radius: 15px;
    color: white;
    font-size: 25px;
    border-radius: -5px;
    text-align: center;
    width: 10%;
    margin-left: 75%;
    margin-top: 20px;
}
p:hover{
   cursor: pointer;
}

.snake1{
    background-color: rgb(202, 1, 1);
    width: 25px;
    height: 25px ;
    
}
