body {
    background-image: url('https://w0.peakpx.com/wallpaper/70/538/HD-wallpaper-razer-snakes-slime-background-ultra-computers-others-green-tech-background-melting-technology-logo-hardware-halloween-paint-razer-gaming-slime-snakes.jpg');
    background-repeat: no-repeat;
    background-size: cover; 

}
h2 {
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #e4e4e4;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;
    font-size: 30px;
    margin-left: 20%;
    
   
}
h1 {
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 190px;
    font-weight: 700;
    color: rgb(23, 204, 6);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.13em #e4e4e4;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    top: -50px ;
    
}
 

p {
    background-color: green;
    box-shadow: white -5px 5px, rgb(191, 230, 189) -10px 10px,  -15px 15px, rgb(151, 243, 163) -20px 20px, rgb(97, 255, 105) -25px 25px; 
    border-radius: 15px;
    color: white;
    font-size: 40px;
    border-radius: -5px;
    text-align: center;
    width: 30%;
    margin-left: 60%;
    margin-top: -60px;
}
p:hover{
   cursor: pointer;
}

